<template>
<div v-bind:style="{ overflow: 'hidden', width: (screenWidth * 2 / 3) + 'px' }" id="writer" ref="writer">
  <span id="writer-content">{{text}}</span>
</div>
</template>

<script>
import electron from 'electron';
const { ipcRenderer, remote } = electron;

export default {
  name: 'Writer',
  data() {
    const window = remote.getCurrentWindow();
    const { width: screenWidth, height: screenHeight } = electron.screen.getPrimaryDisplay().size

    return {
      text: '',
      screenWidth,
      screenHeight,
      window
    };
  },
  created() {
    ipcRenderer.on('set-text', (event, text) => {
      this.text = text;
    });
  },
  updated() {
    const writerContentDOM = document.getElementById('writer-content');
    const contentHeight = writerContentDOM.offsetHeight;

    const lineHeight = parseFloat(window.getComputedStyle(this.$refs.writer).fontSize);
    this.window.setBounds({
      x: this.screenWidth / 6,
      y: this.screenHeight - 72 - lineHeight * 3,
      width: this.screenWidth * 2 / 3,
      height: lineHeight * 3 + 48,
    });
    window.scrollTo(0,document.body.scrollHeight);
  },
};
</script>

<style lang="scss">
@import 'bulma';

html {
  background-color: #00000000;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#writer {
  text-align: center;
  font-size: 4em;
  color: white;
}

#writer-content {
  display: inline-block;
}

#writer span {
  padding: 24px;
}

</style>
