<template>
<div id="homescreen" class=level>
  <div class="level-item has-text-centered">
    <div>
      <h1>OSSTT</h1>
      <p>Your speech made readable</p>
      <hr />
      <div class="control">
        <button class="button is-medium" @click="$emit('start-speech')">Start speeching</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'HomeScreen',
};
</script>

<style lang="scss" scoped>
#homescreen {
  height: 100%;
  color: #ffffff;
}

h1 {
  font-size: 4.5em;
  font-weight: 100;
}

p {
  font-size: 2.5em;
  font-weight: 100;
}

.control {
  text-align: center;
}

button {
  background-color: #ffffff00;
  color: inherit;
}

button:hover {
  background-color: #ffffff20;
  color: inherit;
}

hr {
  visibility: hidden;
}
</style>
