<template>
<div id="main">
  <Homescreen v-if="currentScreen === 'homescreen'" @start-speech="startSpeech"/>
</div>
</template>

<script>
import { ipcRenderer } from 'electron';
import Homescreen from './Homescreen.vue';

export default {
  name: 'Main',
  data: () => ({
    currentScreen: 'homescreen',
  }),
  components: {
    Homescreen,
  },
  methods: {
    startSpeech() {
      ipcRenderer.send('start-speech');
    },
  },
};
</script>

<style lang="scss">
@import 'bulma';

html {
  background-color: #00000000;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
html, body, #main {
  width: 100%;
  height: 100%;
}
</style>
